@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

:root{
    --bege: #F9F3EE;
    --verdeforte: #97C4B8;
    --rosa: #F9CEEE;
    --verdefraco: #CCF3EE;

}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    background: var(--bege);
}

body, button, input, select, textarea {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*margem e gordura da fonte*/
h1,h2 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
}
p{ 
    font-size: 25px;


}

button{
    background-color: var(--rosa);
    border: 0;
    border-radius: 16px;
    /*aumenta botao e deixa txto centro*/
    padding: 10px 35px;
    top:;
    font-size: 25px;
    display: flex;    
    align-items: center;


}

header{
    background: ;
    height: calc(100vh - 65px);
    display: flex;
    align-items: ;
}

header .container{
    width: 50%;
    /* fixa o tamanha pre determinado*/
    height: fit-content;
    padding: 100px;

}
header .container img{
    display: none;
}
header .container h1{
    color: var();
}
nav ul a{
    color: var(--verdeforte);
    font-size: 35px;
    text-decoration: none;
    /*separa as palavras */
    margin: 0 35px;
}
nav ul{
    position: relative;
    top: -58px;
}
nav{
    display: flex;
    align-items: center;
    /*espaços entre */
    justify-content: space-between;
    height: 45px;
    padding: 0 100px;
    position: sticky;
    top: 0;
        
}

nav img{
    height: 200px;
}

section{
    background: ;
    height: 1000px;
}
.icon svg{
    position: absolute;
    height: 34px;
    margin: 59px;
    width: 10%;
    top: 406px;
    left: 1200px;
}
.icon2 svg{
    position: absolute;
    height: 34px;
    margin: 59px;
    width: 10%;
    top: 410px;
    left: 1290px;
}
.icon3 svg{
    position: absolute;
    height: 34px;
    margin: 59px;
    width: 10%;
    top: 410px;
    left: 1382px;
}


.png img{
    position: absolute;
    left: 112px;
    height: 100px;
    padding: 0 1px;
    margin: 50px;

}
.foto img{
    position: absolute;
    width: 18%;
    /*height: 299px; */
    left: 1277px;
    top: 75px;

}
@media(max-width: 767px){
    header .container img{
        display: inline;
        height: 45px;
    }
    nav img{
        display:none;
    };
}

@media(max-width: 480px){
    header .container img{
        padding: 0 40px;
    }
    nav img{
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;

    };
}
